{% extends "base.html" %}

{% block content %}

<div class="banner">
    <div class="text">
        <h1>
            Learn by Quizzing!
        </h1>
        <p>
            Get 20% off your first 3 months with code "aarghhhh" at checkout
        </p>
        <button>
            Get Started
        </button>
    </div>
    <div class="graphics">
        <span class="material-symbols-outlined">leaderboard</span>
        <span class="material-symbols-outlined">trophy</span>
    </div>
</div>

<div class="features">
    <div class="selector">
        <div class="option">
            <div class="icon-circle">
                <span class="material-symbols-outlined">trending_up</span>
            </div>
            <div class="title">Rank-Up</div>
            <div class="see-more">
                <p>see more</p>
            </div>
        </div>
        <div class="option">
            <div class="icon-circle">
                <span class="material-symbols-outlined">featured_seasonal_and_gifts</span>
            </div>
            <div class="title">Daily Freebie</div>
            <div class="see-more">
                <p>see more</p>
            </div>
        </div>
        <div class="option">
            <div class="icon-circle">
                <span class="material-symbols-outlined">swords</span>
            </div>
            <div class="title">Battle</div>
            <div class="see-more">
                <p>see more</p>
            </div>
        </div>
    </div>

    <h1 class="sec-header">
        Learn, Play and Battle
    </h1>
    <h3 class="subheader">
        gain knowledge and study with your friends
    </h3>

    <div class="snippets">
        <div class="snippet">
            <div class="gradient"></div>
            <div class="img">
                <img src="https://images.pexels.com/photos/4769486/pexels-photo-4769486.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            </div>
            <div class="title">Test your IQ</div>
            <div class="see-more">learn more</div>
        </div>
        <div class="snippet">
            <div class="gradient"></div>
            <div class="img">
                <img src="https://images.pexels.com/photos/261651/pexels-photo-261651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            </div>
            <div class="title">Study better</div>
            <div class="see-more">learn more</div>
        </div>
        <div class="snippet">
            <div class="gradient"></div>
            <div class="img">
                <img src="https://images.pexels.com/photos/2067569/pexels-photo-2067569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            </div>
            <div class="title">Learn new things</div>
            <div class="see-more">learn more</div>
        </div>
    </div>
</div>

{% endblock %}